/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #09dd30;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 40px;
}

/* Specific section styles */
#about {
    background-color: #fff;
}

#projects {
    background-color: #f9f9f9;
}

.project {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

#contact {
    background-color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
